body {
  font: 1rem/1.5 var(--bs-font-sans-serif);
}

a {
  text-decoration: underline dotted gray;
  color: gray;
}

a:hover {
  color: #d8a0e9;
}

ul {
  list-style-type: disc;
  margin: 0;
  padding: 0;
  list-style-position: inside;
}

li {
  padding-left: 1em;
  margin-bottom: 15px;
}

ul ul {
  list-style-type: circle;
  margin: 0;
  padding: 0;
  padding-left: 1em;
}

ul ul li {
  padding-left: 1em;
  margin-bottom: 10px;
}

@media only screen and (max-width: 767px) {
  /* 모바일 화면일 경우에만 적용되는 스타일 */
  .half-width-on-mobile {
    max-width: 30%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  .mobile-custom-box {
    width: 100%;
    margin-left: 4ch;
  }
}

.custom-title {
  text-align: left;
  margin-left: 3ch;
}

.custom-title h1 {
  display: inline-block;
  margin-left: 10ch;
}

.custom-hr {
  background-color: #6c757d;
  height: 2px;
}

.custom-text {
  color: #d8a0e9;
  font-size: 20pt;
}

.custom-box {
  margin-left: 4ch;
}

.update-date {
  font-size: small;
  color: gray;
  text-align: center;
}
